@charset "UTF-8";

:root {
    --doc-height: 100%;
}

html {
    font-size: 100%;
}

body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 110%;
    overflow: hidden;
}

.background {
    width: 100dvw;
    height: var(--doc-height);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url("../media/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    pointer-events: none;
}

.line-layout,
.drag-layout {
    width: 100%;
    height: var(--doc-height);
    position: absolute;
    padding: 0;
    margin: 0;
}

.block {
    min-width: 350px;
    max-width: 350px;
    position: absolute;
    padding: 15px 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: #fff;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    z-index: 999;
}

.first-block {
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.drag-element {
    position: absolute;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    pointer-events: none;
    z-index: 3;
}

.drag-element-wrapper {
    width: 300px;
    pointer-events: all;
    background-color: #fff;
}

.drag-element-wrapper img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.draggable {
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drag-element:nth-of-type(1) {
    top: 75%;
    left: 35%;
}

.drag-element:nth-of-type(2) {
    top: 2%;
    left: 35%;
}

.drag-element:nth-of-type(3) {
    top: 18%;
    left: 20%;
}

.drag-element:nth-of-type(4) {
    top: 40%;
    left: 78%;
}

.drag-element:nth-of-type(5) {
    top: 5%;
    right: 5%;
}

.drag-element:nth-of-type(6) {
    top: 10%;
    right: 45%;
}

.drag-element:nth-of-type(7) {
    top: 70%;
    right: 25%;
}

.drag-element:nth-of-type(8) {
    top: 2%;
    left: 2%;
}

.drag-element:nth-of-type(9) {
    top: 45%;
    left: 66%;
}

.drag-element:nth-of-type(10) {
    top: 55%;
    left: 20%;
}

.drag-element:nth-of-type(11) {
    top: 85%;
    left: 15%;
}

.drag-element:nth-of-type(12) {
    top: 3%;
    left: 55%;
}

.drag-element:nth-of-type(13) {
    top: 23%;
    left: 0%;
}

/* .drag-element.audio {
    width: auto;
    top: 23%;
    left: 60%;
} */

.mobile {
    display: none;
}

@media screen and (max-width: 720px) {
    .mobile {
        width: 100%;
        height: var(--doc-height);
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        z-index: 999;
    }

    .mobile-wrapper {
        padding: 15px 15px;
        border: 1px solid #000;
        background-color: #fff;
    }

    canvas,
    .line-layout,
    .drag-layout {
        display: none;
    }
}